/* For small screens e.g. mobiles */

@media screen and (min-width: 140px) {

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    text-align: center;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.2em;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}

/* Header style for name at top of page */

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    color: white;
    background-color: #141B41;
    justify-content: center;
    align-items: center;
    border-bottom: .1em solid navy;
    padding: .75em;
    font-family: 'Kavivanar', cursive;
}

/* Top navigation bar */

.topmenu {
    display: flex;
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    padding: .3em .3em 0 .3em;
    color: #141B41;
}

.topmenu a{
    padding: .3em;
}

/* Pseudolinks for top navigation bar */

.topmenu a:visited {
    color: #306BAC;
}   
  
/* selected link - only active while clicked on */
.topmenu a:active {
    color: navy;
}

/* Elements included only for readability without CSS formatting */
.pagetitle, .pagelist {
    display: none;
}

/* Introduction paragraph at top of central section */
.introduction {
    padding: 1em 2em;
}

/* Overall layout for main content of page */

main {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
}

main img {
    max-width: 100%;
    align-self: center;
    justify-self: center;
}

main section {
    padding: 1em;
    background-color: #DBE6FB;
    border: .5em solid #306BAC;
    margin: 1em;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    position: relative;
}

.projects h3, .skills h3, .blog h3, .contact h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    text-shadow: 2px 2px white;
    color: #306BAC;
}

.projects, .skills, .blog, .contact {
    background-color: white;
    align-self: stretch;
}

/* Links in navigation menu at bottom of page */

.footerfigures a {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* selected link - only active while clicked on */
.footerfigures a:active {
color: #0000FF;
}

/* active link  - page currently in use*/
.topmenu a.active {
    font-weight: bold;
    border-bottom: .2em solid #141B41;
    color: #141B41;
}

/* active link  - page currently in use */
.footerfigures a.active {
    font-weight: bold;
    text-decoration: underline;
}

/* Footer navigation menu  */
.footerfigures {
    text-align: center;
    display: flex;
    flex-basis:auto;
    flex-shrink: 3;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 1 / 7;
    grid-row: 8/ 9;
    background-color: #141B41;
    border-top: .1em solid navy;
    padding-top: 1em;
}

.footerfigures img {
    padding: 0 .3em;
    max-width: 2.5em;
}

/* Profile Links - only for desktop version */
.profile_links {
    display: none;
}

/* Copyright statement */

footer {
    display: flex;
    justify-content: center;
    grid-column: 1 / 7;
    grid-row: 9 / 10;
    padding: 1em;
    font-family: 'Kavivanar', cursive;
    background-color: #141B41;
    color: white;
}

header h1, h2 {
    color: white;
}
}

/* For medium screens - tablets, iPads etc */

@media  screen and (min-width: 600px) {

    /* This is the container for the entire page */

    main {
        padding: 0;
        background: none;
        align-items: center;
        justify-content: center;
        border: none;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }
    
/* Intro 'About Me' section */

    .introduction {
        padding: 1em 2em;
        background-color: #DBE6FB;
        align-items: center;
        justify-content: center;
        border: .5em solid #306BAC;
        margin: 1em;
        grid-column: 1/ 7;
        grid-row: 1/ 2;
    }

    .projects {
        grid-column: 1/ 4;
        grid-row: 2/ 3;
    }

    .skills {
        grid-column: 4/ 7;
        grid-row: 2/ 3;
    }

    .blog {
        grid-column: 1/ 4;
        grid-row: 3/ 4;
    }

    .contact {
        grid-column: 4/ 7;
        grid-row: 3/ 4;
    }

    main section {
        padding: .5em 0;
        align-items: stretch;
        justify-content: center;
    }

    main img {
        max-width: 100%;
    }

    .projects h3 {
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        text-shadow: 2px 2px white;
        font-size: 3em;
        color: #306BAC;
    }

    .topics_list section {
        margin: 1em;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: .5em solid #306BAC;
        }

    .footerfigures {
        grid-column: 1 / 7;
        grid-row: 6 / 7;
        }

    footer {
        grid-column: 1 / 7;
        grid-row: 7 / 8;
        }
    
}

/* For larger screens - laptops, desktops, etc */

@media  screen and (min-width: 992px) {

    .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }

    main {
        margin: 1em 0;
        grid-row:  2/ 3;
        grid-column: 2 /6;
    }    

    header {
        grid-row: 1 /2;
        grid-column: 1 /4;
    }

    .topmenu {
        grid-row: 1 /2;
        grid-column: 4 / 7;
        background-color: #141B41;
        color: white;
        align-items: center;
    }

    .introduction {
        grid-row: 2 /3;
        grid-column: 1 / 7;
        padding: 1em 2em;
    }

    .projects {
        grid-row: 3 /4;
        grid-column: 1 / 4;
        transition: all 1s;
    }

    .skills {
        grid-row: 3 /4;
        grid-column: 4 / 7;
        transition: all 1s;
    }

    .blog {
        grid-row: 4 /5;
        grid-column: 1 / 4;
        transition: all 1s;
    }

    .contact {
        grid-row: 4 /5;
        grid-column: 4 / 7;
        transition: all 1s;
    }

    main h3 {
        font-size: 3em;
    }

    .projects h3:hover, .blog h3:hover, .contact h3:hover {
        font-size: 6em;
    }

    .skills h3:hover {
        font-size: 4em;
    }

    .introduction h3 {
        font-size: 1.5em;
    }

    .footerfigures {
        grid-row: 4 /5;
        grid-column: 1 / 5;
    }

    .footerfigures img {
        max-width: 3.5em;
    }

/* Profile links in footer bar for desktop version */
    .profile_links {
        text-align: center;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        grid-row: 4 /5;
        grid-column: 5 / 7;
        background-color: #141B41;
        border-top: .1em solid navy;
        padding: 1em 3em 0 0;
        color: white;
        font-family: 'Open Sans', sans-serif;
        }
    

    .profile_links img {
        padding: 0 1.5em;
        max-width: 3.5em;
    }

    .profile_links h2 {
        display: none;
    }
    /* Section header included for readability without styling but hidden in CSS */
    main h2 {
        border: 5px solid yellow;
    }

    footer {
        grid-row: 5 /6;
        grid-column: 1 / 13;
    }

    .projects, .skills, .blog, .contact {
        min-height: 20em;
    }

    /* Pseudolinks for top navigation bar */

    .topmenu a:hover, .profile_links a:hover {
        text-decoration: underline;
        font-weight: bold;
    }

    /* Pseudolinks for top navigation bar */

    .topmenu a:visited, .profile_links a:visited {
        color: white;
    }   

    /* active link  - page currently in use*/
    .topmenu a.active {
        font-weight: bold;
        border-bottom: .2em solid #6F9CEB;
        color: #6F9CEB;
    }
    /* Pseudolinks for footer menu */

    .footerfigures a:hover {
        text-decoration: underline;
        font-weight: bold;
    }

    /* Pseudolinks for central section of index page */

    .topics a:hover {
        text-decoration: underline;
    }

    }
