/* For small screens e.g. mobiles */

@media screen and (min-width: 140px) {

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    text-align: center;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    padding: .5em 0;
}

h5 {
    padding-bottom: .4em;
}

main p {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}

/* Header style for name at top of page */

header {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    color: white;
    background-color: #141B41;
    justify-content: center;
    align-items: center;
    border-bottom: .1em solid navy;
    padding: .75em;
    font-family: 'Kavivanar', cursive;
}

/* Top navigation bar */

.topmenu {
    display: flex;
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    padding: .3em .3em 0 .3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #141B41;
}

.topmenu a{
    padding: .3em;
}

/* Pseudolinks for top navigation bar */

.topmenu a:visited {
    color: #306BAC;
}   
  
/* selected link - only active while clicked on */
.topmenu a:active {
color: navy;
}

/* active link  - page currently in use*/
.topmenu a.active {
    font-weight: bold;
    border-bottom: .2em solid #141B41;
    color: #141B41;
}

/* Page title is hidden in CSS. It is included in html for readability if no styling is applied */
.pagetitle {
    display: none;
}

/* Main section of page - applicable to all projects */

.project_one img, .project_two img, .project_three img {
    max-width: 100%;
    align-self: center;
    justify-self: center;
}

.project_one h3, p {
    margin: 0 2em;
}

.project_two h3, p {
    margin: 0 2em;
}

.project_three h3, p {
    margin: 0 2em;
}

.project_one a, .project_two a, .project_three a {
    margin: 1em 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

/* Overall layout for main content of page */

main {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
}

/* First project */

.project_one {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #DBE6FB;
    border: .5em solid #306BAC;
    margin: 1em;
}

/* Second project */

.project_two {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #DBE6FB;
    border: .5em solid #306BAC;
    margin: 1em;
}

/* Third project */

.project_three {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #DBE6FB;
    border: .5em solid #306BAC;
    margin: 1em;
}

/* Links in navigation menu at bottom of page */

.footerfigures a {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* selected link - only active while clicked on */
.footerfigures a:active {
color: #0000FF;
}

/* active link  - page currently in use */
.footerfigures a.active {
    font-weight: bold;
    text-decoration: underline;
}

/* Footer navigation menu  */
.footerfigures {
    text-align: center;
    display: flex;
    flex-basis:auto;
    flex-shrink: 3;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 1 / 7;
    grid-row: 4 / 5;
    background-color: #141B41;
    border-top: .1em solid navy;
    padding-top: 1em;
}

.footerfigures img {
    padding: 0 .3em;
    max-width: 2.5em;
}

/* Profile Links - only for desktop version */
.profile_links {
    display: none;
}

/* Copyright statement */

footer {
    display: flex;
    justify-content: center;
    grid-column: 1 / 7;
    grid-row: 5 / 6;
    padding: 1em;
    font-family: 'Kavivanar', cursive;
    background-color: #141B41;
    color: white;
}
header h1, h2 {
    color: white;
}
}

/* For medium screens - tablets, iPads etc */

@media  screen and (min-width: 600px) {

    .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }

    /* Grid layout within indidivual section for project one - Kat Rock Photography website*/
    .project_one {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .project_one img {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
    }

    .project_one h3 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        margin-top: 1.5em;

    }
    .project_one p {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .project_one a {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

/* Grid layout within indidivual section for project two - Asteroid Dodge game on Scratch */
.project_two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.project_two img {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
}

.project_two h3 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-top: 1.5em;

}
.project_two p {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.project_two a {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

    /* Grid layout within indidivual section for project three - Translation app on Scratch */
    .project_three {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .project_three img {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
    }

    .project_three h3 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        margin-top: 1.5em;

    }
    .project_three p {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .project_three a {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
}

/* For larger screens - laptops, desktops, etc */

@media  screen and (min-width: 992px) {
 
    .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }

    header {
        grid-row: 1 /2;
        grid-column: 1 /4;
    }

    .topmenu {
        grid-row: 1 /2;
        grid-column: 4 / 7;
        background-color: #141B41;
        color: white;
        align-items: center;
    }

    main {
        margin: 1em 0;
        grid-row: 2 / 3;
        grid-column: 2 / 6;
    }   

    .footerfigures {
        grid-row: 4 /5;
        grid-column: 1 / 5;
    }

    .footerfigures img {
        max-width: 3.5em;
    }

/* Profile links in footer bar for desktop version */
    .profile_links {
        text-align: center;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        grid-row: 4 /5;
        grid-column: 5 / 7;
        background-color: #141B41;
        border-top: .1em solid navy;
        padding: 1em 3em 0 0;
        color: white;
        font-family: 'Open Sans', sans-serif;
        }
    

    .profile_links img {
        padding: 0 1.5em;
        max-width: 3.5em;
    }

    /* Profile links section header included for readability without styling but hidden in CSS */
    .profile_links h2 {
        display: none;
    }

    footer {
        grid-row: 5 /6;
        grid-column: 1 / 13;
    }

    .projects, .skills, .blog, .contact {
        min-height: 20em;
    }

    /* Pseudolinks for top navigation bar */

    .topmenu a:hover, .profile_links a:hover {
        text-decoration: underline;
        font-weight: bold;
    }

    /* Pseudolinks for top navigation bar */

    .topmenu a:visited, .profile_links a:visited {
        color: white;
    }   

    /* active link  - page currently in use*/
    .topmenu a.active {
        font-weight: bold;
        border-bottom: .2em solid #6F9CEB;
        color: #6F9CEB;
    }
    /* Pseudolinks for footer menu */

    .footerfigures a:hover {
        text-decoration: underline;
        font-weight: bold;
    }

    /* Pseudolinks for central section of index page */

    .topics a:hover {
        text-decoration: underline;
    }
    }
